body{
    margin: 0%;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
}
main h1{
    font-size: 1.7em;
}
main h2{
    font-size: 1.5em;
}
main p{
    font-size: 1.5em;
}

/*header*/
header{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #9D91FF, #c02153);
    font-family: "Sofia";
    font-weight: bolder;
    height: 10vh;
}

.container-header-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: auto;
}
#logo{
    height: 80%;    
}

#header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2em;
}
#header-title:hover{
    color: blanchedalmond;
    transition: all 0.8s linear;
}

/*Navigationsleiste*/
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}
nav li{
    font-size: 1.8em;
    border: transparent solid;
    flex: 1;
    align-self: center;
}
nav li>*:hover{
    border-bottom: blanchedalmond solid;
    color: blanchedalmond;
    transition: all 0.8s linear;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: black;
}

/*main*/
main{
    min-height: 80vh;
}

/*main index.html*/
.index-main{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.index-main-text{
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    justify-content: center;
    margin-left: 15px;
}

#index-main-img{
    background-image: url(Medien/background_sushi.jpg);
    background-size: cover;
    background-position: -180px 0px;
    flex: 1 1 0;
}

@media screen {
    /*changing to flex-direction column - img under main-text*/
}

#link-to-contact{
    font-size: 1.3em;
    background-image: linear-gradient(to right, #9D91FF, #c02153);
    border-radius: 15px;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: 0px;
    font-weight: bolder;
    color: black;
}

#link-to-contact:hover{
    color: whitesmoke;
    background-color: grey;
    border: black solid;
    transition: all 0.8s linear;
}

/*main kontakt.html*/
#send-message{
    font-size: 1.3em;
    background-image: linear-gradient(to right, #9D91FF, #c02153);
    border-radius: 15px;
    transition: all 0.5s linear;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: 0px;
    margin-top: 20px;
    font-weight: bolder;
    color: black;
    width: 25%;
}

#send-message:hover{
    color: whitesmoke;
    background-color: grey;  
}

#contact-form{
    display: flex;
    justify-content: center;
}

#container-send-message{
    text-align: center;
}

.column-elements{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-main h1, .contact-main p{
    text-align: center;
}

.contact-main h1{
    margin-bottom: 10px;
}

/*footer*/
footer{
    background: linear-gradient(to bottom, grey, rgb(87, 87, 87));
    color: whitesmoke;
    font-size: 1em;
    text-align: right;
    padding: 5px;
    height: 10vh;
}
footer a{
    color: whitesmoke;
}
footer>*{
    margin-right: 10px;
}

